<% @products.each do |product| %> <!-- soll nicht als html ausgegeben werden, sondern nur ausgeführt, deshalb % ohne = -->
  <div class="col-sm-6">
    <h2><%= product.name %></h2>
    <p style="text-align: center; font-size: 2em; line-height: 1em"><%= product.description %></p>
    <%= image_tag(product.image_url, class: "img-responsive") %>
    <p style="text-align: center; font-weight: bold; font-size: 1em"><%= product.price %></p>
    <p><%= product.colour %></p>
    <ul style="list-style: none">            
      <li><%= link_to 'Show', product %></li>
      <li><%= link_to 'Edit', edit_product_path(product) %></li>
      <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div> <!-- /col -->
<% end %>