<div class="container-fluid main-content">
<!-- 	<p id="notice"><%= notice %></p> -->
<!-- 	<% cache @product do %> -->

		<h1><%= @product.name %></h1>
		<div class="row" data-product-id="<%= @product.id %>">
			<div class="col-xs-12">
				<%= image_tag(@product.image_url, class: 'img-responsive center-block img-zoom', data_zoom_image: @product.image_url) %>
			</div>
		</div>
<!-- 	<% end %> -->
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<p style="text-align:center"><%= @product.description %></p>
			<p style="text-align:center"><strong><%= @product.price %></strong> <span class="glyphicon glyphicon-eur" aria-hidden="true"></span></p>	
			<p style="text-align:center"><strong>Average Rating:</strong> <div id="average-rating" class="rated" style="text-align:center" data-score="<%= @product.average_rating %>"></div> </p>
			<%= form_tag "/payments/create" do %>
			<%= render partial: "shared/stripe_checkout_button" %>
			<%= hidden_field_tag(:product_id, @product.id) %>
			<% end %>
			<br>
		</div>
		<div class="col-xs-12 alert alert-info" style="display:none" role="alert">
			A new comment was posted!
		</div>
		<div class="col-xs-12 col-sm-6">
			<p><%= render partial: "new_comment"%></p>
		</div>
	</div>
	<div class="row">	
		<div class="col-xs-12 center-block" >
			<%= render partial: "comments" %>
			<a class="apple_pagination"><%= will_paginate @comments %></a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<%= link_to 'Back', products_path %>
		</div>
	</div>
</div>




			<!-- 	<p><%= @product.colour %></p> -->

				<!-- <div class="col-xs-12 col-sm-6">
					<p style="text-align:center"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= @product.highest_rating_comment %></p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p style="text-align:center"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <%= @product.lowest_rating_comment %></p>
				</div> -->